
#header{
  margin-top:100px;
}

#rec-wrap {
  margin-top:75px;
}

#rec-links{
  padding-top:250px;
}

h1 {
  font-size:10em;
  text-align:center;
}

#facebook-login {
  width:100px;
  height:30px;
}

* {
  font-family: Helvetica, Arial;
}

body {
  padding: 4em;
  padding-top: 1em;
}

#access-token {
  width: 200px;
}

a, a:visited {
  color: #25aae1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.check {
  color: #25aae1;
  margin-right: 4px;
}

#empowered {
  margin-left: 14px;
  width: 900px;
}

#auth {
  width: 180px;
}

#headerText{
  font-size: 40px;
}

#tagline{
  font-size: 16px;
  color:#1e1e1e;
  font-family:Courier;
  margin-left: 15px;
  margin-top: 23px;
}

#contentWrapper{
  clear:both;
}
.recLeft{
	float: left;
}
.recRight{
	float: right;
}
.recClear{
	clear: both;
}
	.recTitle{
		font-size: 30pt;
	}
	.recAddress{
		margin-top: 30px;
		margin-left: 8px;
	}
	.recDesc{
		font-size: 15pt;
		margin-left: 20px
	}

.recWrapper{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
}
	.innerRecWrapper{
		float: left;
		width: 100%;
		border-top: solid 2px orange;
	}

.singleRec{
	border-top-width: 5px;
	border-top-color: black;
	border-top-style: solid;
	padding-bottom: 5px;
	float:left;
	width: 100%;	
	margin-bottom: 10px;
	
}
	.imageWrapper{
		float: left;
	}
	.recImage{
		float: left;
		width: 250px;
		}

.recText{
	padding:5px;
	float: left;
}


#innerWrapper{
	float: left;
	margin-left: auto;
	margin-right: auto;
	width:900px;
	height:100px;
}

.survey{
	font-size: 30pt;
}

.formWrapper{
	font-size: 30pt;
}
.surveyInput{
	border: 1px rgba(0,0,0,0.42) solid;
	border-radius: 2px;
	font-size: 14pt;
}

.resto{width:400px; margin-top: 5px;padding:3px;}

.city{width:200px;}

.state{width:50px;}

::-webkit-input-placeholder {
   color: orange;
   opacity: .3;
}

:-moz-placeholder { /* Firefox 18- */
   color: orange;
   opacity: .3;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: orange;
   opacity: .3;  
}

:-ms-input-placeholder {  
   color: orange;
   opacity: .3;
}
.submitButton{
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	background-color: #ff5c00;
}


#leftPop{
  margin-top: 40px;
}

#rightPop{
  margin-top: 40px;
}


.popOutWithBorder{
  border-width: 0px 0px 2px 0px;
  border-color: #25aae1;
  background-color: white;
  border-style: solid;
  padding:5px;
  box-shadow: 0px 100px 1000px #ddd;
  /* height:400px; */
  width: 280px;
}

.left{float: left;}
.right{float: right;}

.login{
  font-size: 18px;
  color:#17529c;
}





