<!DOCTYPE html>
<html>
  <head>
    <title>Concierge</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script>
      var accessToken = '{{ user_profile.access_token }}';
    </script>

    <script src="/static/app.js"></script>

    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <div id="contentWrapper">
	      <h2>Where do you eat?</h2>
			
			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
			<div class="formWrapper">
			<form class="survey" action="/savegotos/" method="post">
			{% csrf_token %}
			{% for r in raw_gotos %}
			    <label style="font-size:14pt;opacity:.6;"for="restaurant{{ forloop.counter }}">I really like</label>
			    <input class="surveyInput resto" type="text" name="rawgotos" id="restaurant{{ forloop.counter }}" placeholder="this restaurant" />
			    <label style="font-size:14pt;opacity:.6;margin-right:5px;" for="restaurant{{ forloop.counter }}">which is in </label>
			    <input class="surveyInput city" type="text" name="rawcities" id="city{{ forloop.counter }}" placeholder="city"/>
			    <span style="font-size:14pt;opacity:.6;margin-right:5px;">,</span> 
			    <input class="surveyInput state " type="text" name="rawstates" id="state{{ forloop.counter }}" placeholder="state"/>

			    <br />
			{% endfor %}
			<a href="../recRestaurants/" style="font-size:12pt;">Skip this step</a>
			<input style="float:right;margin-right:150px;" type="submit" class="submitButton" value="Submit" />
			</form>    
			</div>
	</div>
  </body>
</html>
