<!DOCTYPE html>
<html>
  <head>
    <title>Concierge</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script>
      var accessToken = '{{ user_profile.access_token }}';
    </script>

    <script src="/static/js/app.js"></script>

    <script>
      $('#logout').click(function(){
      });
    </script>

    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    {% if not request.user.is_authenticated %}
      <div class="row">
        <img id="header" src="../static/img/logo.png">
      </div>
      <div class="row">
        <div class="large-7 columns"></div>
        <div class="large-2 columns"><a href="/authenticate/facebook"><img src="/static/img/fb.png"></a></div>
      </div>
    {% else %}
      <div class="row">
        <div id="rec-wrap">
          <img class="large-8 columns" src="../static/img/logo.png">
          <div id="rec-links">
            <div class="large-4 columns"><h3><a href="./recRestaurants/">Find a new place to eat</a></h3></div>
            <div class="large-4 columns"><h3><a href="./pickgotos/">Make our suggestions better</a></h3></div>
            <div class="large-4 columns"><h3><a id="logout" href="https://api.singly.com/logout?access_token={{ user_profile.access_token }}&redirect_uri=localhost:8000/logout/">Logout</a></h3></div>
          </div>
        </div>
      </div>
      <!-- <div id="contentWrapper"> -->
      <!--   <h2>Get a Rec</h2> -->
      <!--   <p><a href="./findafriend.html">Find a new friend</a></p> -->
      <!--   <p><a href="./findasong.html">Find a new song</a></p> -->
      <!-- </div> -->
    {% endif %}
  </body>
</html>
