<!DOCTYPE html>
<html>
  <head>
    <title>Concierge</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script>
      var accessToken = '{{ user_profile.access_token }}';
    </script>

    <script src="/static/app.js"></script>

    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <div id="contentWrapper" class="recWrapper">
      <h2>Here's a bunch of restaurants you might like</h2>
      <a href="../">Back</a>
      
        {% if request.user.is_authenticated %}
        {% for r, cuisines, img in recs %}
        <div class="innerRecWrapper">
        <div class="singleRec">
          <div class="imageWrapper">
            <img class="recImage" src='{{ img }}' \>
          </div>
          <div class="recText">
          	<span style="float:left;">
	          <div class="recTitle recLeft"> {{ r.title }} </div>
	          <div class="recAddress recLeft">{{ r.address.street_address }} </div>
          	</span>
          		{% for c in cuisines %}
	          <div class="recDesc recClear">{{c}} </div>
	          
	            {% endfor %}
          </div>
            
                       
          </div>
          </div>
        {% endfor %}
        {% endif %}
        
    </div>
  </body>
</html>
